 /* #Margin
   -------------------------------------------------------------------------- */
/*doc
マージンで余白の管理をします。常に下方向にだけ余白をとります。
`<section>`要素を使うようなセクションの余白はlayout/_section.scssで管理します。

サイズのバリエーション /
map-get($_margin, 'base')
1. `tiny`
2. `small`
3. `base`
4. `large`
5. `huge`
*/

.u-mb{
  margin-bottom:  map-get($_margin, 'base');
  &--tiny{
    margin-bottom:  map-get($_margin, 'tiny');
  }
  &--small{
    margin-bottom:  map-get($_margin, 'small');
  }
  &--large{
    margin-bottom:  map-get($_margin, 'large');
  }
  &--huge{
    margin-bottom:  map-get($_margin, 'huge');
  }
}
