// $bootstrap-sass-asset-helper: false !default;
// //
// // Variables
// // --------------------------------------------------

// custom variables
// --------------------------------------------------
$transition-s :.3s;

// //== Colors
// //
// //## Gray and brand colors for use across Bootstrap.

$main-color: #AA383A;

// //== Typography
// //
// //## Font, line-height, and color for body text, headings, and more.

// $font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-maru:  "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo,"メイリオ", "ＭＳ Ｐゴシック", Arial, sans-serif;
$font-family-kaku:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
$font-family-min: 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN W3','ＭＳ Ｐ明朝','MS PMincho','MS 明朝',Georgia, 'Times New Roman', Times, serif;
$font-family-base: $font-family-kaku;
